.footer{
  margin-top:80px;
  padding:40px;
  text-align:center;
  background:#111;
  color:white;
}

.footer h2{
  margin-bottom:10px;
}

.footer-links{
  margin:20px 0;
  display:flex;
  justify-content:center;
  gap:20px;
}

.footer-links a{
  color:white;
  text-decoration:none;
}

.copyright{
  color:#aaa;
}