.genre-section{

padding:70px;

}

.section-header{

margin-bottom:40px;

}

.section-header h2{

font-size:40px;

color:white;

}

.section-header p{

margin-top:10px;

color:#888;

}

.genre-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:20px;

}

.genre-card{

height:140px;

border-radius:20px;

background:#171b27;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.3s;

border:1px solid #222;

}

.genre-card:hover{

background:#ff7a1a;

transform:translateY(-6px);

}

.genre-card h3{

color:white;

}