.navbar{

height:80px;

padding:0 70px;

display:flex;

justify-content:space-between;

align-items:center;

position:sticky;

top:0;

z-index:999;

background:#0f1118;

border-bottom:1px solid #222;

}

.navbar-left{

display:flex;

align-items:center;

gap:50px;

}

.logo{

font-size:34px;

font-weight:800;

color:#ff7a1a;

text-decoration:none;

}

.nav-links{

display:flex;

gap:30px;

}

.nav-links a{

text-decoration:none;

color:#d6d6d6;

font-size:15px;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#ff7a1a;

}

.navbar-right{

display:flex;

align-items:center;

gap:15px;

}

.search-box{

width:320px;

height:42px;

background:#1b1f2c;

border-radius:12px;

padding:0 15px;

display:flex;

align-items:center;

}

.search-box input{

width:100%;

background:none;

border:none;

outline:none;

color:white;

font-size:14px;

}

.login-btn{

height:42px;

padding:0 22px;

border:1px solid #444;

background:none;

color:white;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

border-color:#ff7a1a;

}

.signup-btn{

height:42px;

padding:0 25px;

display:flex;

align-items:center;

justify-content:center;

background:#ff7a1a;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:600;

transition:.3s;

}

.signup-btn:hover{

background:#ff8c33;

}