.story-row{
  padding:50px 70px;
}

.row-header{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:25px;
}

.row-header h2{
  color:white;
}

.row-header button{
  background:none;
  border:none;
  color:#ff6b00;
  cursor:pointer;
}

.row-content{

display:flex;

gap:24px;

overflow-x:auto;

padding-bottom:10px;

scroll-behavior:smooth;

scrollbar-width:none;

}