.writer-banner{

margin:80px;

padding:70px;

border-radius:30px;

background:
linear-gradient(
135deg,
#ff7a1a,
#ff9955
);

text-align:center;

}

.writer-content h2{

font-size:48px;

margin-bottom:20px;

color:white;

}

.writer-content p{

font-size:18px;

margin-bottom:30px;

color:white;

}

.writer-content button{

padding:16px 40px;

border:none;

background:white;

color:#ff7a1a;

font-weight:700;

border-radius:12px;

cursor:pointer;

}