.stories-page{
padding:40px;
}

.stories-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.stories-header h1{
color:white;
}

.stories-header button{
background:#ff7a00;
border:none;
padding:12px 24px;
border-radius:10px;
color:white;
cursor:pointer;
}

.story-list{
display:flex;
flex-direction:column;
gap:20px;
}

.story-item{
background:#171d2f;
padding:25px;
border-radius:18px;
display:flex;
justify-content:space-between;
align-items:center;
border:1px solid #2d3654;
}

.story-item h2{
color:white;
margin-bottom:8px;
}

.story-item p{
color:#9ca3af;
}

.story-right{
display:flex;
align-items:center;
gap:20px;
color:white;
}

.story-right button{
background:#ff7a00;
border:none;
padding:10px 20px;
border-radius:10px;
color:white;
cursor:pointer;
}