.writer-page {
  min-height: 100vh;
  background: #0d0f17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.writer-card {
  width: 550px;
  background: #171b29;
  border-radius: 20px;
  padding: 40px;
}

.writer-card h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.writer-card p {
  color: #a8a8a8;
  text-align: center;
  margin-bottom: 30px;
}

.writer-card form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.writer-card input,
.writer-card textarea {
  background: #23283b;
  color: white;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}

.writer-card textarea {
  min-height: 120px;
  resize: none;
}

.agree {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.writer-card button {
  background: #ff7a1a;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: 0.3s;
}

.writer-card button:hover {
  background: #ff6600;
}