.story-row-v2{

padding:70px;

}

.row-title{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.row-title h2{

font-size:34px;

color:white;

}

.row-title button{

background:none;

border:none;

color:#ff7a1a;

font-size:16px;

cursor:pointer;

}

.story-slider{

display:flex;

gap:25px;

overflow-x:auto;

scrollbar-width:none;

padding-bottom:15px;

scroll-behavior:smooth;

}

.story-slider::-webkit-scrollbar{

display:none;

}