.story-card-v2-link{

text-decoration:none;

}

.story-card-v2{

width:260px;

background:#161b22;

border-radius:22px;

overflow:hidden;

border:1px solid #222;

transition:.35s;

flex-shrink:0;

}

.story-card-v2:hover{

transform:translateY(-10px);

box-shadow:
0 25px 60px rgba(0,0,0,.45);

}

.story-cover{

position:relative;

height:360px;

overflow:hidden;

}

.story-cover img{

width:100%;

height:100%;

object-fit:cover;

transition:.5s;

}

.story-card-v2:hover img{

transform:scale(1.08);

}

.story-gradient{

position:absolute;

left:0;

right:0;

bottom:0;

height:150px;

background:
linear-gradient(
transparent,
rgba(0,0,0,.95)
);

}

.genre{

position:absolute;

top:15px;

left:15px;

background:#ff7a1a;

padding:7px 14px;

border-radius:25px;

color:white;

font-size:12px;

font-weight:600;

}

.story-body{

padding:20px;

}

.story-body h3{

font-size:22px;

color:white;

margin-bottom:12px;

display:-webkit-box;

-webkit-line-clamp:2;

-webkit-box-orient:vertical;

overflow:hidden;

}

.story-body p{

color:#9ca3af;

font-size:14px;

line-height:1.8;

display:-webkit-box;

-webkit-line-clamp:3;

-webkit-box-orient:vertical;

overflow:hidden;

margin-bottom:20px;

}

.story-footer{

display:flex;

justify-content:space-between;

color:#ff7a1a;

font-size:14px;

}