*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:

Inter,

"Poppins",

sans-serif;

background:#0b0d14;

color:white;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

}

::-webkit-scrollbar{

width:8px;

height:8px;

}

::-webkit-scrollbar-track{

background:#0b0d14;

}

::-webkit-scrollbar-thumb{

background:#ff7a1a;

border-radius:20px;

}