.recent-stories{

margin-top:45px;

}

.recent-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.recent-header h2{

color:white;

font-size:28px;

}

.view-all-btn{

background:none;

border:none;

color:#ff7a1a;

cursor:pointer;

font-size:15px;

}

.recent-card{

background:#171d2f;

border:1px solid #2a334d;

border-radius:18px;

padding:22px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:18px;

transition:.3s;

}

.recent-card:hover{

transform:translateY(-4px);

border-color:#ff7a1a;

}

.recent-left{

display:flex;

align-items:center;

gap:18px;

}

.cover-placeholder{

width:70px;

height:90px;

border-radius:12px;

background:#ff7a1a;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

}

.recent-left h3{

color:white;

margin-bottom:8px;

font-size:20px;

}

.recent-left p{

color:#ff7a1a;

margin-bottom:5px;

}

.recent-left span{

color:#8f97ab;

font-size:14px;

}

.recent-right{

display:flex;

align-items:center;

gap:18px;

}

.progress-text{

color:#22c55e;

font-weight:bold;

font-size:18px;

}

.recent-right button{

height:44px;

padding:0 24px;

background:#ff7a1a;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.recent-right button:hover{

background:#ff9238;

}