.welcome-banner{

display:flex;

justify-content:space-between;

align-items:center;

padding:45px;

gap:50px;

flex-wrap:wrap;

}

.welcome-banner h1{

font-size:42px;

margin-bottom:15px;

max-width:700px;

}

.welcome-banner span{

font-weight:700;

}

.welcome-banner p{

color:#fff;

max-width:550px;

line-height:1.7;

font-size:16px;

opacity:.95;

}

.welcome-buttons{

display:flex;

gap:15px;

}

.welcome-primary{

background:white;

color:#ff7a1a;

padding:14px 28px;

border-radius:12px;

text-decoration:none;

font-weight:700;

}

.welcome-secondary{

border:2px solid white;

color:white;

padding:14px 28px;

border-radius:12px;

text-decoration:none;

font-weight:700;

}