.writer-layout{
    display:flex;
    min-height:100vh;
    background:#0f172a;
}

.writer-main{
    margin-left:270px;   /* Sidebar width */
    width:calc(100% - 270px);
    min-height:100vh;
}

.writer-content{

padding:35px;

max-width:1500px;

margin:auto;

}