.writer-topbar{

height:90px;

background:#111827;

border-bottom:1px solid #252c3d;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

position:sticky;

top:0;

z-index:500;

}

.topbar-left h2{

font-size:28px;

color:white;

margin-bottom:6px;

}

.topbar-left span{

color:#ff7a1a;

}

.topbar-left p{

color:#8d97aa;

font-size:14px;

}

.topbar-right{

display:flex;

align-items:center;

gap:18px;

}

.topbar-search{

width:320px;

height:46px;

background:#1b2233;

border-radius:12px;

display:flex;

align-items:center;

padding:0 18px;

}

.topbar-search input{

width:100%;

background:none;

border:none;

outline:none;

color:white;

font-size:14px;

}

.notification-btn{

width:46px;

height:46px;

border:none;

background:#1b2233;

border-radius:12px;

cursor:pointer;

font-size:18px;

color:white;

transition:.3s;

}

.notification-btn:hover{

background:#ff7a1a;

}

.new-story-btn{

height:46px;

padding:0 24px;

background:#ff7a1a;

color:white;

text-decoration:none;

display:flex;

align-items:center;

justify-content:center;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.new-story-btn:hover{

background:#ff9338;

}

.profile-circle{

width:46px;

height:46px;

background:#ff7a1a;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

font-size:18px;

color:white;

cursor:pointer;

}